# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
*.pyc

# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.bbl
*.blg

# OS
.DS_Store
Thumbs.db

# Diretórios antigos (não versionados)
escrita-tc1/
escrita-tc2/
relacionados/
